:root {
  --neutral-blue: rgb(40, 104, 189);
  --space-grey: rgb(85, 85, 85);
}

* {
  box-sizing: border-box;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.6;
}
body {
  background-color: rgb(232, 252, 252);
}


/* Header and Nav Bar */
header {
  background-color: var(--neutral-blue);
  padding: 20px;
  color: white;
  border-bottom: var(--space-grey) solid 7px;
}

header h1 {
  font-size: 200%;
  padding: 20px 0px 20px 50px;
  display: inline-block;
}
header nav {
  padding-top: 30px;
  margin-right: 20px;
  float: right;
  font-size: 20px;
}

header a {
  text-decoration: none;
  color: white;
}
header a:hover {
  color: black;
  transition: all 0.25s ease-in;
}

header nav ul {
  list-style-type: none;
  padding: 0;
}

header nav ul li {
  display: inline-block;
  margin-right: 25px;
  font-size: 150%;
}

/* Main Background */
.background-image {
  height: 500px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/2126190.png");
  background-size: cover;
  background-position: center;
  border-bottom: var(--space-grey) solid 7px;
}

#profile-picture img {
  position: absolute;
  top: 58%;
  left: 7%;
  max-height: 300px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border: var(--space-grey) solid 3px;
}
h2 {
  display: flex;
  flex: 0 0 25%;
  font-size: 300%;
  text-align: right;
  justify-content: flex-end;
  align-items: center;
  border-right: 4px solid var(--neutral-blue);
  padding-right: 15px;
  margin: 0%;
}
section div {
  display: block;
  float: left;
  flex: 0 0 70%;
}

/* Works Pictures */
#study-guide {
  background-image: url("../images/html-tutorial-beginners-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
}
#portfolio {
  background-image: url("../images/portfolio-background.webp");
}
#horiseon {
  background-image: url("../images/search-engine-optimization.jpg");
}
#github {
  background-image: url("../images/github.png");
}

/* Main Body Sections */
.page-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  margin: 25px;
}

/* Sub boxes */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.work-container {
  min-height: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border: var(--neutral-blue) solid 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 20px;
  background-blend-mode: soft-light;
  transition: all 0.25s ease;
  -in-webkit-transition: ;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
}

.work-container:hover {
  background-image: url(../images/hacked.gif) !important;
}
.small-box {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 33%;
  min-width: 300px;
  flex-grow: 1;
}

/* Body Labels */
.work-label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--neutral-blue);
  text-align: center;
  max-height: 40px;
  min-height: 40px;
  max-width: 200px;
  color: white;
  background-repeat: no-repeat;
  border: white solid;
  border-bottom: 5px;
  border-right: 5px;
  border-radius: 10px 0 0 0;
  -webkit-border-radius: 10px 0 0 0;
  -moz-border-radius: 10px 0 0 0;
  -ms-border-radius: 10px 0 0 0;
  -o-border-radius: 10px 0 0 0;
}

/* Contact Information */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 25px;
  margin: 25px;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  font-size: 125%;
}
footer a {
  text-decoration: none;
  color: black;
  font-size: 150%;
  background-image: linear-gradient(
    270deg,
    var(--neutral-blue) 0%,
    var(--neutral-blue) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 5px;
  background-position: bottom;
  transition: all 0.25s ease-in;
}

footer a:hover {
  background-size: 100% 100%;
  color: white;
}

/* Screen Shrink Behavior */
@media screen and (max-width: 1645px) {
  #profile-picture img {
    position:relative;
    left: 50%;
  }
}
@media screen and (max-width: 1372px) {
  #study-guide {
    min-width: 300px;
  }
  header {
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  h2 {
    border-right: none;
    border-bottom: 4px solid var(--neutral-blue);
    margin-bottom: 20px;
    padding-bottom: 10px;
    justify-content: flex-start;
    flex: 0 0 100%;
  }

 .page-section {
  align-items: center;
 }
  #profile-picture img {
    left: 25%;
  }
  footer ul {
    flex-direction: column;
  }
}
